/*----------------------------
desktop    -> max-width: 992px
pad        -> max-width: 768px
mobile_lg  -> max-width: 414px
mobile     -> max-width: 375px
mobile_s   -> max-width: 320px
----------------------------*/

@include pad {
    .fz-h1 {
        font-size: $font-h2; //32px
    }

    .fz-h2 {
        font-size: 28px;
    }

    .fz-h4 {
        font-size: $font-h5; //18px
    }

    .fz-h5 {
        font-size: $font-size-base; //16px
    }

    .fz-h6 {
        font-size: $font-h7; //12px
        line-height: 18px;
    }
    .font-default {
        font-size: $font-h6;
        line-height: 26px;
    }
}

/*-----------------TODO: index-----------------------*/

@media (max-width: 1100px) {
    .introduce {
        .d_flex {
            flex-direction: column;
            .introduce_list {
                order: 2;
                .d_flex {
                    flex-direction: row;
                }
            }
        }
        &_info {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-left: 0px;
            padding-bottom: 30px;
            .c_title {
                text-align: center;
            }
        }

        &_list {
            width: 60%;
        }
    }
}

@include desktop {
    .introduce {
        &_list {
            width: 70%;
        }
    }
    // planDescripition
    .choice {
        &_num {
            overflow-x: auto;
            justify-content: unset;
            &::-webkit-scrollbar {
                display: none;
            }
            .c_btn {
                margin: 0px 8px 10px 8px;
                padding: 10px;
            }
        }
        .planDeta_box {
            .d_flex {
                flex-direction: column;
            }
        }
        .planDeta_item {
            width: 100%;
            &:first-child {
                margin-right: 0px;
                margin-bottom: 40px;
            }
            .infoList {
                padding-top: 32px;
                &_item {
                    font-size: $font-h7;
                    &::before {
                        background-size: 16px;
                        top: 4px;
                    }
                }
            }
            .NumBox {
                padding-top: 24px;
                .fz-h2 {
                    span {
                        padding-left: 4px;
                    }
                }
                .equarl {
                    margin: 0 6px;
                    font-size: 24px;
                }
            }
        }
    }
}

@include pad {
    .header {
        padding: 0 20px;
        background: #fff;
        border-bottom: 3px solid $secondary;
        &_box {
            .logo {
                max-width: 130px;
            }
        }
    }
    // index
    .banner_bg {
        display: none;
    }
    .banner {
        padding: 20px;
        &::after {
            background-size: cover;
            bottom: -350px;
            width: 49px;
            height: 126px;
        }
        .d_flex {
            flex-direction: column;
        }
        &_img {
            position: relative;
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/bg_home_sm.svg)
                    no-repeat center center;
                position: absolute;
                background-size: contain;
                bottom: 0;
                left: 0;
                z-index: -2;
            }
        }
    }
    .social {
        &_list {
            .d_flex {
                flex-direction: column;
            }
        }
        li {
            width: 100%;
            &:not(:last-child) {
                margin-right: 0px;
                margin-bottom: 40px;
            }
        }
    }
    .person {
        .person_list {
            .d_flex {
                flex-direction: column;
            }
            li {
                width: 100%;
                height: 100%;
                &:not(:last-child) {
                    margin-right: 0px;
                    margin-bottom: 40px;
                }
            }
        }
    }
    .introduce {
        &_list {
            width: 50%;
            .d_flex {
                flex-wrap: wrap;
            }
            li {
                width: 100%;
                max-width: 100%;
                &:nth-child(odd) {
                    margin-right: 0px;
                }
            }
        }
        &_info {
            width: 100%;
            .c_title {
                text-align: left;
            }
            .fz-h5 {
                padding-top: 16px;
                line-height: 26px;
            }
            .c_btn {
                margin-top: 24px;
            }
        }
    }
}

@include mobile_lg {
    .planBanner {
        &_img {
            width: 100%;
            height: 495px;
            background: url(https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/banner_sm.svg) no-repeat
                center center;
            background-size: cover;
            top: 50px;
        }
        &_info {
            margin: 50px 0;
        }
    }

    .introduce {
        &_list {
            width: 100%;
        }
        &_info {
            padding-left: 0px;
        }
    }

    .start {
        .d_flex {
            padding: 300px 20px 50px;
            .c_btn {
                margin-top: 20px;
            }
        }
        &.start_bg {
            background: url(../images/star_bg_mobile.png) no-repeat center center;
            height: 461px;
            background-size: cover;
        }
    }

    .choice {
        .planDeta_item {
            .planDeta_info {
                padding: 0 16px;
            }
            .NumBox {
                &_item {
                    padding: 24px 16px;
                }
            }
        }
    }

    .c_title {
        font-size: 24px;
        line-height: 40px;
    }

    .c_subTitle {
        font-size: 16px;
        line-height: 24px;
    }
}
