$font-family-base: -apple-system,
"Noto Sans TC",
Roboto,
"Helvetica Neue",
Arial,
sans-serif;

/* color-variables */

$primary: #56C4C5; //tiffiny綠
$sub_primary: #FF5D50; //橘紅
$secondary: #FFD153; //黃色
$sub_secondary: #FBE8B1; //淡黃色


//黑色
$black: #000;
$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-40: rgba(0, 0, 0, 0.4);
$black-60: rgba(0, 0, 0, 0.6);
$black-80: #000000cc;
$black-txt: #221E1F;

//灰色
$bg-gray: #F5F5F5;
$light-gray: #747474;

//白色
$white: #fff;
$white-80: #ffffff80;
$white-60: #ffffff60;

/* font-variables */
$font-size-base: 16px;
$font-h1: 48px;
$font-h2: 32px;
$font-h3: 24px;
$font-h4: 20px;
$font-h5: 18px;
$font-h6: 14px;
$font-h7: 12px;

// font-weight
$fw-bold: 700;
$fw-medium: 500;